@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Open+Sans:wght@400;600&family=Quantico:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
}

input {
  all: unset;
}

input:hover {
  border: 1px solid #8c8c8c;
}

input:focus {
  border: 1px solid #fdfdfd;
  outline: transparent;
}

button {
  all: unset;
  cursor: pointer;
}

p {
  color: #fdfdfd;
  font-weight: 500;
  font-size: 16px;
}

.main {
  background: #1d2226;
  display: flex;
  gap: 60px;
  padding: 24px 24px 24px 96px;
  min-height: 100vh;
}

@media (max-width: 1375px) {
  .main {
    padding-left: 24px;
  }
}

.conteudo {
  max-width: 937px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 815px) {
  .main {
    padding: 12px;
  }

  .conteudo {
    width: 100%;
  }

  .asside {
    display: none;
  }

  .asside {
    position: fixed;
    top: 75px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: #1d2226;
    padding: 40px 24px;
  }
}
