@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Open+Sans:wght@400;600&family=Quantico:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Manrope', sans-serif;
}

header{
  display: flex;
  background-color:#0F1C26;
  padding: 16px 0;
  gap: 24px;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
}

.logo-pesquisa {
  display: flex;
  gap: 24px;
  align-items: center;
}

input {
  all: unset;
}

input:hover {
  border: 1px solid #8C8C8C;
}

input:focus{
  border: 1px solid #FDFDFD;
  outline: transparent;
}

button{
  all: unset;
  cursor: pointer;
}

.pesquisar {
  padding:  0 16px;
  width: 456px;
  background: #171B1E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
}

.pesquisar input {
  color: #FDFDFD80;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  width: 80%;
}

.pesquisar input:placeholder-shown {
  color: #FDFDFD80;
}

p{
  color:#FDFDFD;
  font-weight: 500;
  font-size: 16px;
}

.favorito {
  display: flex;
  gap: 8px;
  align-items: center;
}

.main {
  background: #1D2226;
  display: flex;
  gap: 60px;
  padding: 24px 24px 24px 96px;
  min-height: 100vh;
}

@media (max-width: 1375px) {
  .main {
    padding-left: 24px;
  }
}

.conteudo {
  max-width: 937px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header-mobile {
  display: none;
}

@media (max-width: 800px) {
  .header-mobile{
    display: flex;
    background-color:#0F1C26;
    padding: 16px 30px;
    align-items: center;
    justify-content: space-between;
  }
  header{
    display: none;
  }

  .main{
    padding: 12px;
  }

  .conteudo{
    width: 100%;
  }
  
  .asside{
    display: none;
  }

}
