@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Open+Sans:wght@400;600&family=Quantico:wght@400;700&display=swap");

.top-filmes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.top-filmes h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #fdfdfd;
}

.lista-top-filmes {
  display: flex;
  gap: 24px;
}

.card-filme {
  width: 168px;
  height: 301px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-filme svg {
  cursor: pointer;
}

.nome-avaliacao {
  display: flex;
  justify-content: space-between;
}

h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #fdfdfd;
}

.avaliacao {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: #fbcd6e;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
}

.card-filme button {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  padding: 4px 7px;
  background-color: #a785ed;
  color: #eee6ff;
  font-weight: bold;
  font-size: 12px;
  width: 90%;
}

.card-filme button:hover {
  background: linear-gradient(
      0deg,
      rgba(46, 46, 46, 0.45),
      rgba(46, 46, 46, 0.45)
    ),
    #a785ed;
}

@media (max-width: 815px) {
  .lista-top-filmes {
    overflow-x: auto;
  }
  .card-filme {
    min-width: 150px;
  }
}
