.header-mobile {
  display: none;
}

#perfil {
  border-radius: 50%;
}

.favorito {
  display: flex;
  gap: 8px;
  align-items: center;
}

@media (max-width: 815px) {
  .header-mobile {
    display: flex;
    background-color: #0f1c26;
    padding: 18px 30px;
    position: fixed;
    width: 100%;
    z-index: 4;
  }

  .menu-logo{
    display: flex;
    width: 100%;
    position: sticky;
    justify-content: space-between;
    align-items: center;
  }

  .menu-aberto {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(18, 18, 18, 0.9);
  }

  .informacoes-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 101px;
    right: 0;
    background: #0f1c26;
    padding: 40px 27px 40px 32px;
  }

  #fechar {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
  }
}
