@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Open+Sans:wght@400;600&family=Quantico:wght@400;700&display=swap");

.asside-sacola {
  max-height: 530px;
  overflow-y: auto;
  position: fixed;
}

.sacola {
  display: flex;
  background: linear-gradient(0deg, #a785ed, #a785ed), #c4c4c4;
  padding: 5px 93px;
  color: #fdfdfd;
  align-items: center;
  justify-content: center;
}

.conteudo-sacola {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 32px 16px 24px 16px;
  background: rgba(0, 0, 0, 0.2);
  color: #fdfdfd;
}

.figura-sacola {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

@media (max-width: 1375px) {
  .conteudo-sacola {
    width: 300px;
  }
  .sacola {
    width: 300px;
  }
}

.conteudo-sacola p {
  opacity: 0.8;
  font-weight: 500;
  margin-bottom: 13px;
}

.cupom-sacola {
  width: 100%;
}

label {
  font-size: 12px;
  color: #fdfdfd;
}

.input-cupom {
  background: #0b1217;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.filme-sacola {
  padding: 10px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.imagem-valor {
  display: flex;
  gap: 13px;
}

#imagem-filme {
  width: 43px;
  height: 67px;
}

.nome-valor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fdfdfd;
  font-weight: 500;
}

.quantidade {
  display: flex;
  gap: 15px;
  align-items: center;
}

.quantidade p {
  padding-top: 10px;
}

.quantidade button {
  height: 24px;
}

.quantidade button:hover {
  background: linear-gradient(
    0deg,
    rgba(107, 107, 107, 0.37),
    rgba(107, 107, 107, 0.37)
  );
}

.botao-confirmar-dados {
  width: 100%;
}

.botao-confirmar-dados button {
  display: flex;
  justify-content: space-between;
  width: 88%;
  padding: 16px;
  margin-top: 24px;
  background-color: #e25ebf;
  font-weight: bold;
  font-size: 16px;
  color: #fdfdfd;
  font-family: "Manrope", sans-serif;
}

.conteudo-sacola .botao-confirmar-dados button:hover {
  background: linear-gradient(
      0deg,
      rgba(225, 123, 123, 0.45),
      rgba(225, 123, 123, 0.45)
    ),
    #ffb6eb;
  box-shadow: 0px 16px 24px -12px rgba(226, 94, 191, 0.16);
}

.botao-ativado {
  background: linear-gradient(0deg, rgba(225, 123, 123, 0.6), rgba(225, 123, 123, 0.6)), #FFB6EB;
  box-shadow: 0px 16px 24px -12px rgba(226, 94, 191, 0.5);
}

@media (max-width: 815px) {
  .sacola {
    background: #1d2226;
    padding: 0;
    margin-bottom: 24px;
  }

  .asside-sacola{
    width: 85%;
  }

  .conteudo-sacola {
    width: 100%;
  }
}
